<?php
// Configure your settings
$title = "ATVController";

$lanip = "192.168.0";

$servername = "localhost";
$username = "root";
$password = "yourstrongpassword";
$dbname = "dbname";
$port = "3306";

//RDM DB
$RDMservername = "localhost";
$RDMusername = "rdmuser";
$RDMpassword = "yourstrongpassword";
$RDMdbname = "rdmdb";
$RDMport = "3306";

//ONLY CHANGE THIS PORT IF YOU NEED TO
$adbport = "5555";
    
//Device Name Location
$namelocation = "globset"; // (atconf) - atlas config / (globset) - device settings(about device rename)

//Enable/Disable features
$devicecount = false; // Total devices and Online count (currently lags the site with bulk devices)

$noRegister = false; // Enable or Disable Sign Up.

//Don't touch
include("sql/makedb.php");
?>
